* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body{
    font-family: 'Balou 2', cursive;
  }
  h1{
    font-size:40px;
    color: white;
  }
  p{
    color: white;
  }
  a{
    text-decoration: none;
    color:#115035;
  }
  .bf-head p{
    color:#115035; 
  }
  .bf-container{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    min-height:100vh;
    overflow-y:auto;
    padding:20px 16px;
    background-color: #1d2228;
  }
  .bf-body{
    width:500px;
    background-color: #1d1d2c;
  }
  